<section>
    <div class="row container">
        <h5 class="align-center col-12 m-4">Search By Id</h5>
            <div class="col-9 input-group mb-3">
                <input type="text" id="bid" class="form-control" placeholder="Book Id" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="searchid()">Search</button>
                </div>
            </div>        
    </div>
    <div class="row container">
        <h5 class="col-12 m-4">Search by Gener </h5>
        <div class="input-group col-9 mb-3">
            <select id="select" class="custom-select" id="inputGroupSelect02">
                <option selected="selected">Choose...</option>
                <option value="U">U ഉപന്യാസം</option>
                <option value="N">N നോവൽ</option>
                <option value="DN">DN ഡിക്ടിവ് നോവൽ</option>
                <option value="C">C ചെറുകഥ</option>
                <option value="B">B ബാലസാഹിത്യം</option>
                <option value="D">D നാടകം</option>
                <option value="E">E ഇംഗ്ലീഷ്</option>
                <option value="H">H ഹിന്ദി</option>
                <option value="S">S സംസ്ക്യതം</option>
                <option value="P">P പദ്യം</option>
            </select>
            <div class="input-group-append">
                <label onclick="serachgen()" class="input-group-text" for="inputGroupSelect02">Search</label>
            </div>
        </div>


    </div>
</section>
<script>
    var searchid= () =>{
        let id=document.getElementById('bid').value
        
        window.location.href='/view-book/'+id
    }
    var serachgen=()=>{
        let id=document.getElementById('select').value
        window.location.href='/search-gen/'+id
    }
</script>