<div class="row p-4">
    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-primary text-white shadow" onclick="window.location='/view-books'">
            <div class="card-body">
                Total Books
                <div class="text-white-50 small">{{count}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row p-4">

    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-success text-white shadow" onclick="window.location='/search-gen/U'">
            <div class="card-body">
                Catagory 1
                <div class="text-white-50 small">22 books</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-info text-white shadow" onclick="window.location='/search-gen/N'">
            <div class="card-body">
                Catagory 2
                <div class="text-white-50 small">22 books</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-warning text-white shadow" onclick="window.location='/search-gen/DN'">
            <div class="card-body">
                Catagory 3
                <div class="text-white-50 small">22 books</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-danger text-white shadow" onclick="window.location='/search-gen/C'">
            <div class="card-body">
                Catagory 4
                <div class="text-white-50 small">22 books</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-secondary text-white shadow" onclick="window.location='/search-gen/B'">
            <div class="card-body">
                Catagory 5
                <div class="text-white-50 small">72</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-light text-black shadow" onclick="window.location='/search-gen/D'">
            <div class="card-body">
                Catagory 6
                <div class="text-black-10 small">4</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-dark text-white shadow" onclick="window.location='/search-gen/E'">
            <div class="card-body">
                Catagory 7
                <div class="text-white-50 small">12</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-primary text-white shadow" onclick="window.location='/search-gen/H'">
            <div class="card-body">
                Catagory 8
                <div class="text-white-50 small">1</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-primary text-white shadow" onclick="window.location='/search-gen/S'">
            <div class="card-body">
                Catagory 8
                <div class="text-white-50 small">1</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-3  my-4    ">
        <div class="card bg-primary text-white shadow" onclick="window.location='/search-gen/P'">
            <div class="card-body">
                Catagory 8
                <div class="text-white-50 small">1</div>
            </div>
        </div>
    </div>
</div>


