<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/add-membs" method="POST"  role="form"  >
                <h1 class="h3 mb-0 text-gray-800 pb-3" >Add Member  <i class="fas fa-fw fa-user"></i></h1>
                <div class="row mb-3">
                    <input type="hidden" name="id" value="{{counts}}">
                    <div class="mx-auto col-12">
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="rb" class="col-sm-2 col-form-label">Recommented by</label>
                            <div class="col-sm-10" style="display: flex;">
                                <input type="text" required minlength="3" maxlength="3"  class="form-control col-7" id="rb" name="rb" placeholder="name">
                                <input type="number" required minlength="3" maxlength="3"  class="form-control col-4 ml-3 ml-sm-auto" id="rb" name="rb_id" placeholder="id">
                            </div>
                        </div>
                        <div class="form-group row">
                           <label for="doa" class="col-sm-2 col-form-label">Date of Admission</label>
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="doa" name="doa" placeholder="Date of Admission">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="age" class="col-2 col-form-label">Age</label>
                            <div class="col-3 ">
                                <input type="text" required class="form-control" id="age" name="age" placeholder="Age">
                            </div>

                            <label for="gen" class="col-2 ml-5 col-form-label">Gender</label>
                            <div class="col-3">
                                <input type="text" required class="form-control" id="gen" name="gen" placeholder="Gender">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mob" class="col-sm-2 col-form-label">Mobile</label>
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="mob" name="mob" placeholder="Mobile">
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label for="ads" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-4 mb-2">
                                <input type="text"  required class="form-control" id="hn" name="hn" placeholder="House Name">
                            </div>
                            <div class="col-sm-3 mb-2">
                                <input type="text" required class="form-control" id="po" name="po" placeholder="Post Office">
                            </div>
                            <div class="col-sm-3 mb-2">
                                <input type="text" required class="form-control" id="pin" name="pin" placeholder="Pincode">
                            </div>                          
                        </div>
                    </div>
                </div>    
                <div class=" row">
                    <button type="submit" class="col-4 col-md-2 ml-auto mr-2 btn btn-primary">Submit</button>
                    <button type="reset" class="col-4 col-md-2  btn btn-outline-danger">Reset &nbsp;</button>                    
                </div>
            </form>
        </div>
    </div>
</div>
    <style>
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        .inputfile + label {
            width: 100%;
            font-size: 1rem;
            font-weight: 700;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            padding: 0.625rem 1.25rem;
        }
        .inputfile + label svg {
            width: 1em;
            height: 1em;
            vertical-align: middle;
            fill: #6e707e;
            margin-top: -0.25em;
            margin-right: 0.25em;
        }
        .inputfile + label {
            color: #6e707e;
            border: 1px solid #d1d3e2;
        }        
    </style>
    <script>
        'use strict';;
        (function (document, window, index) {
            var inputs = document.querySelectorAll('.inputfile');
            Array.prototype.forEach.call(inputs, function (input) {
                var label = input.nextElementSibling,
                    labelVal = label.innerHTML;

                input.addEventListener('change', function (e) {
                    var fileName = '';
                    if (this.files && this.files.length > 1) 
                        fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
                    else 
                        fileName = e.target.value.split('\\').pop();
                    

                    if (fileName) 
                        label.querySelector('span').innerHTML = fileName;
                    else 
                        label.innerHTML = labelVal;
                    
                });

                // Firefox bug fix
                input.addEventListener('focus', function () {
                    input.classList.add('has-focus');
                });
                input.addEventListener('blur', function () {
                    input.classList.remove('has-focus');
                });
            });
        }(document, window, 0));

</script>